@import "~compass-mixins/lib/_compass.scss";

$fa-font-path: "../fonts/font-awesome" !default;
@import "~font-awesome/scss/font-awesome";

@import "~swiper/dist/css/swiper.css";

$primary: #8E2800 !default;
$secondary: #FFB03B !default;
$lightColor: #FFF0A5 !default;
$thickColor: #000000 !default;
$focusColor: #B64926 !default;
$contrastColor: #468966 !default;

$link-color: $focusColor !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 10%) !default;
$link-hover-decoration: none !default;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/buttons";

a:hover, a:active, a:focus {
  outline: 0;
}

p {
  margin-bottom: .5em;
}

.danger {
  color: $danger;
}

a:not([href]):not([tabindex]) {
  color: $link-color;
  text-decoration: none;

  @include hover-focus {
    color: $link-hover-color;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }
}

@media (min-width: map_get($grid-breakpoints, "md")) {
  .col-full {
    width: 66.4989378333rem;
  }
}

a.button {
  color: $primary;
  &:hover {
    background: lightgrey;
    color: $primary;
  }
}

.swiper-container {
  .swiper-wrapper {
    .swiper-slide {
      height: 400px;
      overflow: hidden;
      position: relative;
      color: #fff;
      > img {
        height: 400px;
        width: 100%;
      }
      .text-wrapper {
        position: absolute;
        left: 150px;
        top: 100px;
        p {
          margin-top: 1rem;
        }
        a {
          margin-top: 1rem;
          padding: 0.5em 1rem;
          display: inline-block;
          color: #fff;
          background: $link-color;
          &:hover {
            background: $link-hover-color;
          }
        }
      }
      @media (max-width: map_get($grid-breakpoints, "lg")) {
        height: 350px;
        > img {
          width: auto;
          height: 350px;
        }
        .text-wrapper {
          left: 110px;
          top: 80px;
          p {
            margin-top: .5rem;
            margin-bottom: .5rem;
          }
          a {
            margin-top: 0.5rem;
          }
        }
      }

      @media (max-width: map_get($grid-breakpoints, "md")) {
        height: 200px;
        > img {
          width: auto;
          height: 200px;
        }
        .text-wrapper {
          left: 80px;
          top: 30px;
          p {
            margin-top: 0;
            margin-bottom: 0;
          }
          a {
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
  .swiper-button {
    background: none;
    color: #fff;
    &:hover {
      color: $secondary;
    }
    &.swiper-button-next {
      right: 15px;
    }
  }
}

header#masthead {
  border-bottom: 1px solid #8E2800;
  background: #fff;
  width: 100%;
  z-index: 10;

  padding-top: 0;
  .top-info {
    padding: 10px 0 10px;
    font-size: .7rem;
    .welcome {
      @media (max-width: map_get($grid-breakpoints, "md")) {
        display: none;
      }
    }
    .contact {
      z-index: 20;
      text-align: right;
      > div {
        display: inline-block;
        margin-left: 10px;
        a {
          @media (max-width: map_get($grid-breakpoints, "lg")) {
            span {
              display: none;
            }
          }
          cursor: pointer;
          i {
            margin-right: 1px;
          }
        }
        &.wechat {
          a:hover {
            img {
              display: block;
            }
          }
          img {
            display: none;
            width: 150px;
            position: absolute;
            @media (max-width: map_get($grid-breakpoints, "md")) {
              right: 0;
            }
          }
        }
      }
      @media (max-width: map_get($grid-breakpoints, "md")) {
        max-width: 100%;
        flex: none;
      }
    }
  }
  .storefront-site-logo-wrapper {
    overflow: hidden;
    display: flex;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    .site-branding {
      margin-bottom: 0;
      width: auto;
      img.custom-logo {
        height: 80px;
        width: auto;
      }
    }
    .storefront-site-search-wrapper {

      .site-user-login {
        margin-right: 0;
      }
      .site-search {
        form.woocommerce-product-search {
          cursor: pointer;
          display: inline-flex;
          align-items: center;
          position: fixed;
          right: 20px;
          top: 200px;
          z-index: 20;
          opacity: .8;
          input.search-field {
            display: block;
            width: 0;
            //transition: all 200ms linear;
            padding: 9px 0;
            margin-right: 1px;
            border: none;
            &:focus {
              border: 1px solid $primary;
              margin-right: 0;
              padding: 8px 1rem;
              width: 200px;
            }
          }
          button {
            clip: unset;
            clip-path: unset;
            height: auto;
            position: relative;
            width: auto;
            border-radius: .5em;
            outline: none;
            background: $primary;
            margin-left: 10px;
            font-size: 1.5em;
            color: #fff;
            span {
              display: none;
            }
            &:after {
              @include fa-icon;
              content: '\f002';
              padding: .4em 1em;
            }
          }
          &:hover, &:active {
            opacity: 1;
            .search-field {
              border: 1px solid $primary;
              padding: 8px 1rem;
              margin-right: 0;
              width: 200px;
            }
          }

        }
        @media (max-width: map_get($grid-breakpoints, "md")) {
          display: inline-flex;
          form.woocommerce-product-search {
            top: 140px;
          }
        }
      }
    }

  }
  .site-branding {
    margin-bottom: 0;
    img.custom-logo {
      height: 80px;
      width: auto;
    }
  }
  .site-search {
    margin-bottom: 0;
    input.search-field {
      padding: .5rem 1rem;
      border: 1px solid $gray-500;
    }
  }
  .storefront-primary-navigation {
    margin-top: 10px;
    #site-navigation {
      ul {
        li {
          a {
            padding: .8rem 1.5rem;
            &:hover {
              background: #8E2800;
              color: #fff;
            }
          }
          &.current_page_item {
            a {
              background: #8E2800;
              color: #fff;
            }
          }
        }

      }
    }
    #site-header-cart {
      a.cart-contents {
        padding: .8rem 0;
      }
      &:hover {
        div.widget_shopping_cart {
          border-bottom: 1px solid $primary;
          border-left: 1px solid $primary;
          border-right: 1px solid $primary;
        }
      }

    }
  }

  @media (max-width: map_get($grid-breakpoints, "md")) {
    padding-bottom: 10px;
    .top-info {
      padding: 3px 0 3px;
    }
    .storefront-site-logo-wrapper {
      .site-branding {
        img.custom-logo {
          height: 50px;
        }
        .site-user-login {
          margin-right: 0;
        }
      }
      .storefront-site-search-wrapper {
        .site-user-login {
          margin-right: 0;
        }
      }

    }
    .storefront-primary-navigation {
      button.menu-toggle {
        outline: none;
        color: $gray-600;
        border: 1px solid;
        padding-top: 2px;
        padding-bottom: 2px;
        &:before, &:after, span:before {
          background-color: $gray-600;
        }

        &:hover {
          color: $focusColor;
          &:before, &:after, span:before {
            background-color: $focusColor;
          }
        }
      }
    }
  }

}

.storefront-breadcrumb {
  .woocommerce-breadcrumb {
    margin-bottom: 1rem;
  }
}

.storefront-product-section {
  .section-title {
    text-align: left;
    color: $primary;
    margin: 20px 0;
  }
  @media (max-width: map_get($grid-breakpoints, "md")) {
    .section-title {
      text-align: center;
    }
  }
}

.site-footer {
  background-color: $gray-600;
  text-align: center;
  padding: 1em 0;
  color: #fff;
  @media (max-width: map_get($grid-breakpoints, "md")) {
    padding-bottom: 5em;
  }
  .site-info {
    padding: 0;
  }
}

@media (max-width: map_get($grid-breakpoints, "md")) {
  .storefront-handheld-footer-bar {
    border-top: 1px solid $gray-300;
    ul {
      li {
        > a {
          background: $gray-300;
          height: 3em;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $primary !important;
        }
        &.my-account {
          > a {
            text-indent: 0;
            span {
              display: none;
            }
            &:after {
              @include fa-icon;
              content: '\f2bd';
              font-size: 1.5em;
            }
          }
        }
        &.search {
          > a {
            display: none;
          }
          div.site-search {
            background: $gray-300;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            bottom: 0;
            input.search-field {
              border: 1px solid transparentize($primary, .5);
            }
          }
        }
        &.categories {
          .widget {
            margin-bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3em;
            background: $gray-300;
            select {
              outline: none;
              padding: .3em .5em;
              color: $primary;
            }
          }
        }
        &.cart {
          .footer-cart-contents {
            position: relative;
            span.count {
              position: absolute;
              width: 1.5em;
              height: 1.5em;
              line-height: 1.5;
              top: .3rem;
              &:before {
                @include fa-icon;
                content: '\f07a';
                font-size: 2em;
                color: $primary !important;
                position: absolute;
                left: -.8em;
                top: .2em;
                z-index: -1;
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

#primary {
  ul.products {
    li.product {
      margin-bottom: 2em;
    }
  }
}

.col-1 {
  @media (min-width: map_get($grid-breakpoints, "md")) {
    width: 47.8260869565%;
    float: left;
    margin-right: 4.347826087%;
    max-width: 47.8260869565%;
  }
  max-width: 100%;
}
.col-2 {
  @media (min-width: map_get($grid-breakpoints, "md")) {
    width: 47.8260869565%;
    max-width: 47.8260869565%;
    float: right;
    margin-right: 0;
  }
  max-width: 100%;
  padding: 0;
}

#secondary {
  .widget {
    margin-bottom: 2em;
    .widget-title {
      margin-bottom: 0;
      padding-bottom: .5em;
    }
    &.widget_product_categories {
      select {
        outline: none;
        padding: .3em .5em;
        color: $primary;
      }
    }
  }
}

.error404 {
  .site-content {
    .widget_product_search {
      padding: 0;
      input {
        border: 1px solid $gray-500;
      }
    }
  }
  .fourohfour-columns-2 {
    .col-1 {
      @media (min-width: map_get($grid-breakpoints, "md")) {
        width: 47.8260869565%;
        float: left;
        margin-right: 4.347826087%;
        max-width: 47.8260869565%;
      }
      max-width: 100%;
    }
    .col-2 {
      @media (min-width: map_get($grid-breakpoints, "md")) {
        width: 47.8260869565%;
        max-width: 47.8260869565%;
        float: right;
        margin-right: 0;
      }
      max-width: 100%;
      padding: 0;
    }
  }
}

body.blog, body.single-post {
  #primary {
    article {
      margin-bottom: 1em;
      header.entry-header {
        margin-bottom: 0;
      }
      .entry-meta {
        width: 100%;
        float: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5em 0;
        div {
          margin-bottom: 0;
          div.label {
            display: inline-block;
            margin-right: 5px;
          }
          span.comments-link {
            margin-bottom: 0;
          }
        }
      }
      .entry-content {
        width: 100%;
      }
    }
  }
}

body.single-post {
  #primary {
    article {
      .entry-meta {
        padding: 1em 0;
      }
      .post-navigation {
        .nav-previous {
          a:before {
            @include fa-icon;
            content: '\f100';
            margin-right: 10px;
          }
        }
        .nav-next {
          a:after {
            @include fa-icon;
            content: '\f101';
            margin-left: 10px;
          }
        }
      }
      .comments-area {
        padding-top: 0;
        .comment-respond {
          padding: 0;
          textarea, input {
            border: 1px solid $primary;
          }
          input.submit {
            border: none;
            background: $secondary;
            color: $gray-300;
          }
        }
      }
    }
  }
}

span.onsale {
  background: $focusColor;
  color: $gray-300;
  border: none;
}

span.price {
  del {
    opacity: .8;
  }
}